<!DOCTYPE html>
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{=T.accepted_language or 'en'}}"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <!-- www.phpied.com/conditional-comments-block-downloads/ -->
    <!-- Always force latest IE rendering engine
         (even in intranet) & Chrome Frame
         Remove this if you use the .htaccess -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge{{=not request.is_local and ',chrome=1' or ''}}">
    <!--  Mobile Viewport Fix
          j.mp/mobileviewport & davidbcalhoun.com/2010/viewport-metatag
          device-width: Occupy full width of the screen in its current orientation
          initial-scale = 1.0 retains dimensions instead of zooming out if page height > device height
          user-scalable = yes allows the user to zoom in -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{=response.title or request.application}}</title>
    <!-- http://dev.w3.org/html5/markup/meta.name.html -->
    <meta name="application-name" content="{{=request.application}}">
    <!-- Speaking of Google, don't forget to set your site up:
         http://google.com/webmasters -->
    <meta name="google-site-verification" content="">

    <!-- Definitions for the URL abbreviations -->
    {{cm = URL('static', 'codemirror')}}
    {{js_url = URL('static','js')}}
    {{css_url = URL('static', 'css')}}

    <!-- CSS from the editor team -->
    <link rel="stylesheet" href="{{=cm}}/lib/codemirror.css">
    <link rel="stylesheet" href="{{='%s/theme/web2py.css' % cm}}">
    <link rel="stylesheet" href="{{=css_url}}/typeahead.js-bootstrap.css">
    <link rel="stylesheet" href="{{=css_url}}/web2py-codemirror.css">
    <link rel="stylesheet" href="{{=cm}}/addon/fold/foldgutter.css">
    <link rel="stylesheet" href="{{=cm}}/addon/display/fullscreen.css">
    <link rel="stylesheet" href="{{=cm}}/addon/dialog/dialog.css">
    <link rel="stylesheet" href="{{=cm}}/addon/hint/show-hint.css">

    <!-- Custom CSS from Compass (see /static/sass directory for individual components) -->
    <link href="{{=URL('static', 'stylesheets/myapp.css')}}" rel="stylesheet" type="text/css" />

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">

    <!-- Rest of the CSS -->
    <link rel="stylesheet" href="{{=URL('static','css/bootstrap.min.css')}}"/>
    <link rel="stylesheet" href="{{=URL('static','css/web2py-bootstrap3.css')}}"/>
    <link rel="stylesheet" href="{{=URL('static','css/jasny-bootstrap.min.css')}}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css"/>

    <!-- Icons for favicon, iOS, and Microsoft browsers -->
    <link rel="apple-touch-icon" href="{{=URL('static','images/favicon/apple-touch-icon-57x57.png')}}">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{=URL('static','images/favicon/apple-touch-icon-57x57.png')}}" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{=URL('static','images/favicon/apple-touch-icon-114x114.png')}}" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{=URL('static','images/favicon/apple-touch-icon-72x72.png')}}" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{=URL('static','images/favicon/apple-touch-icon-144x144.png')}}" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{{=URL('static','images/favicon/apple-touch-icon-60x60.png')}}" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{=URL('static','images/favicon/apple-touch-icon-120x120.png')}}" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{=URL('static','images/favicon/apple-touch-icon-76x76.png')}}" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{=URL('static','images/favicon/apple-touch-icon-152x152.png')}}" />
    <link rel="icon" type="image/png" href="{{=URL('static','images/favicon/favicon-196x196.png')}}" sizes="196x196" />
    <link rel="icon" type="image/png" href="{{=URL('static','images/favicon/favicon-96x96.png')}}" sizes="96x96" />
    <link rel="icon" type="image/png" href="{{=URL('static','images/favicon/favicon-32x32.png')}}" sizes="32x32" />
    <link rel="icon" type="image/png" href="{{=URL('static','images/favicon/favicon-16x16.png')}}" sizes="16x16" />
    <link rel="icon" type="image/png" href="{{=URL('static','images/favicon/favicon-128.png')}}" sizes="128x128" />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="{{=URL('static','images/favicon/mstile-144x144.png')}}" />
    <meta name="msapplication-square70x70logo" content="{{=URL('static','images/favicon/mstile-70x70.png')}}" />
    <meta name="msapplication-square150x150logo" content="{{=URL('static','images/favicon/mstile-150x150.png')}}" />
    <meta name="msapplication-wide310x150logo" content="{{=URL('static','images/favicon/mstile-350x150.png')}}" />
    <meta name="msapplication-square310x310logo" content="{{=URL('static','images/favicon/mstile-310x310.png')}}" />

    <!-- All JavaScript at the bottom, except for Modernizr which enables
         HTML5 elements & feature detects -->
    <script src="{{=URL('static','js/modernizr-2.8.3.min.js')}}"></script>
    <!--[if lt IE 9]>
        <script src="{{=URL('static','js/respond-1.4.2.min.js')}}"></script>
        <![endif]-->
    <!-- Favicons -->
    {{include 'web2py_ajax.html'}} <!-- this includes jquery.js, calendar.js/.css and web2py.js -->
    {{block head}}{{end}}
    {{
        # using sidebars need to know what sidebar you want to use
        mc0 = 'col-md-12'
        mc1 = 'col-md-9'
        mc2 = 'col-md-6'
        left_sidebar_enabled = globals().get('left_sidebar_enabled', False)
        right_sidebar_enabled = globals().get('right_sidebar_enabled', False)
        middle_column = {0: mc0, 1: mc1, 2: mc2}[
        (left_sidebar_enabled and 1 or 0)+(right_sidebar_enabled and 1 or 0)]
    }}
  </head>
  <body>
  <!--[if lt IE 8]><p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->
    <div class="w2p_flash alert alert-dismissable">{{=response.flash or ''}}</div>
    <!-- Navbar =======================================
    http://web2py.com/books/default/chapter/29/05/the-views#Customizing-the-default-layout -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" style="display: inline-block; float: left;" data-toggle="offcanvas" data-target=".navmenu" data-canvas="body">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar" style="background-color: #FFFFFF;"></span>
                    <span class="icon-bar" style="background-color: #FFFFFF;"></span>
                    <span class="icon-bar" style="background-color: #FFFFFF;"></span>
                </button>
                <div style="display: inline-block; float: right;">
                    {{=response.logo or ''}}
          </div>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-right">
                {{='auth' in globals() and auth.navbar('Welcome',mode='dropdown') or ''}}
            </ul>
            {{if response.menu:}}
                <!-- Add the user's gravatar image next to the dropdown if they're logged in -->
                {{if auth.is_logged_in():}}
                    <ul class="nav navbar-nav navbar-right">
                        <img class="img-circle profile-image resize border-c" src='{{=Gravatar(auth.user.email).thumb}}'>
                    </ul>
                {{pass}}
                <!-- Actual dropdown itself -->
                {{=MENU(response.menu, _class='nav navbar-nav',li_class='dropdown',ul_class='dropdown-menu')}}
            {{pass}}
        </div>
      </div>
    </nav>
    <!-- Masthead ===================================== -->
    {{block header}}
        <!-- Support for theme-color in Chrome for Android, see:
        https://developers.google.com/web/updates/2014/11/Support-for-theme-color-in-Chrome-39-for-Android -->
        <meta name="theme-color" content="#182848">
    {{end}}
    <!-- Main ========================================= -->
    <!-- Begin page content -->
    <div class="container-fluid main-container">
      <div class="row">
          {{include}}
       </div>
    </div>

    {{block footer}} <!-- this is default footer -->
    <footer class="footer" style="background: #222222;">
      <div class="container-fluid">
        <div class="copyright pull-left">{{=T('Copyright')}} &#169; {{=request.now.year}}</div>
          <div id="poweredBy" class="pull-right">
            {{=T('Made in')}}
            <a style="color: #C04875;" href="http://www.ucsc.edu/">UCSC</a>
          </div>
      </div>
    </footer>
    {{end}}
    <!-- The javascript =============================== -->
    <script src="{{=URL('static','js/bootstrap.min.js')}}"></script>
    <script src="{{=URL('static','js/web2py-bootstrap3.js')}}"></script>
    <script src="{{=URL('static', 'js/ractive.min.js')}}"></script>
    <script src="{{=URL('static', 'js/jasny-bootstrap.min.js')}}"></script>

    <!-- Angular.js Libraries for the viz team-->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>

    <!-- Bootstrap select for the viz team -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>

    <!-- Date range picker for the viz team-->
    <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>

    <!-- dygraph library for the viz team-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/dygraph/1.1.1/dygraph-combined.js"></script>

    <!-- The javascript for the editor team -->
    <script src="{{=cm}}/lib/codemirror.js"></script>
    <script src="{{=cm}}/addon/edit/matchbrackets.js"></script>
    <script src="{{=cm}}/mode/python/python.js"></script>
    <script src="{{=cm}}/addon/hint/show-hint.js"></script>
    <script src="{{=cm}}/addon/hint/python-hint.js"></script>
    <script src="{{=cm}}/addon/search/search.js"></script>
    <script src="{{=cm}}/addon/search/searchcursor.js"></script>
    <script src="{{=cm}}/addon/dialog/dialog.js"></script>
    <script src="{{=cm}}/addon/edit/trailingspace.js"></script>
    <script src="{{=cm}}/addon/selection/active-line.js"></script>
    <script src="{{=cm}}/addon/display/fullscreen.js"></script>
    <script src="{{=cm}}/addon/fold/foldcode.js"></script>
    <script src="{{=cm}}/addon/fold/foldgutter.js"></script>
    <script src="{{=cm}}/addon/fold/brace-fold.js"></script>
    <script src="{{=cm}}/addon/fold/comment-fold.js"></script>
    <script src="{{=cm}}/addon/fold/indent-fold.js"></script>
    <script src="{{=cm}}/addon/comment/comment.js"></script>
    <script src="{{=cm}}/emmet.min.js"></script>
    <script src="{{=js_url}}/ajax_editor.js"></script>
    {{block page_js}}{{end page_js}}
    {{if response.google_analytics_id:}}
    <!-- Analytics ==================================== -->
    <script src="{{=URL('static','js/analytics.min.js')}}"></script>
    <script type="text/javascript">
        analytics.initialize({
            'Google Analytics':{trackingId:'{{=response.google_analytics_id}}'}
        });
    </script>
    {{pass}}
  </body>
</html>