<!-- Data Viz Begin -->
<div class="panel panel-default" name="dataVisualization" align="left">
    <div class="panel-heading">
        <h3 class="panel-title">Data Visualization Panel</h3>
    </div>
    <div class="panel-body">
        <div class="col-sm-12">
            <div id="chartdiv" style="width: 100%; height: 400px;" class="hidden"></div>
            <div id="graph_div" style="width: 100%; height: 400px">
                {% #if refresh_selected %}
                {% else %}
                    <div class="container-text" align="center">
                        <a style="color: #842448;" href="#" on-click="refresh">{{=icon_refresh_big}}</a><br>
                        <h3><a style="color: #842448;" href="#" on-click="refresh">{{=string_refresh}}</a></h3>
                    </div>
                {% /if %}
            </div>
        </div>
    </div>
</div>

<!-- DATA DETAIL START  -->

<div class="panel panel-default" name="dataDetail" ng-controller="dataDetailController" align="left">
    <div class="panel-heading">
        <h3 class="panel-title">Data Detail Panel</h3>
    </div>
    <div class="panel-body">
        <!-- Tab -->
        <div>
            <!-- ------- Data Detail  Nav tabs  ------- -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#Mixed" aria-controls="Mixed" role="tab" data-toggle="tab">Mixed</a>
                </li>
                <li role="presentation">
                    <a href="#Output" aria-controls="Output" role="tab" data-toggle="tab">Output</a>
                </li>
                <li role="presentation">
                    <a href="#Log" aria-controls="Log" role="tab" data-toggle="tab">Log</a>
                </li>
            </ul>
            <!-- Tab panes  -->
            <div class="tab-content">
                <!-- ------------------ Mixed Tab ------------------ -->
                <div role="tabpanel" class="tab-pane active" id="Mixed">
                    <form class="navbar-form navbar-right" role="search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">Search</button>
                            </span>
                        </div>
                    </form>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Type</th>
                                <th>Device ID</th>
                                <th>Module Name</th>
                                <th>Content</th>
                                <th>Timestamp</th>
                            </tr>
                        </thead>
                        <tbody id="mixed_table_body">
                            {% #mixed_data:index %}
                            <tr>
                                <th scope="row">{% index+1 %}</th>
                                <td>{% type %}</td>
                                <td>{% device_id %}</td>
                                <td>{% modulename %}</td>
                                <td>{% content %}</td>
                                <td>{% time_stamp %}</td>
                            </tr>
                            {% /mixed_data %}
                        </tbody>
                    </table>
                </div>

                <!-- ------------------ Output Tab ------------------ -->
                <div role="tabpanel" class="tab-pane" id="Output">
                    <form class="navbar-form navbar-right" role="search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">Search</button>
                            </span>
                        </div>
                    </form>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Device ID</th>
                            <th>Module Name</th>
                            <th>Name</th>
                            <th>Output Value</th>
                            <th>Tag</th>
                            <th>Time Stamp</th>
                        </tr>
                        </thead>
                        <tbody id="output_table_body">
                            {% #output_data:index %}
                            <tr>
                                <th scope="row">{% index+1 %}</th>
                                <td>{% device_id %}</td>
                                <td>{% modulename %}</td>
                                <td>{% name %}</td>
                                <td>{% output_value %}</td>
                                <td>{% tag %}</td>
                                <td>{% time_stamp %}</td>
                            </tr>
                            {% /output_data %}
                        </tbody>
                    </table>
                </div>

                <!-- ------------------ Log Tab ------------------ -->
                <div role="tabpanel" class="tab-pane" id="Log">
                    <form class="navbar-form navbar-right" role="search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">Search</button>
                            </span>
                        </div>
                    </form><br><br><br>
                    <div class="panel-group" id="log_accordion" role="tablist" aria-multiselectable="true">
                        {% #log_data:index %}
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="heading{% index %}">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion"
                                       href="#collapse{% index %}"
                                       aria-expanded="true" aria-controls="collapse{% index %}">
                                         {% device_id %} : [ {% time_stamp %}] - [ level : {% log_level %} ]
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse{% index %}" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="headingOne">
                                <div class="panel-body">
                                    [{% modulename %}] - [{% name %} : {% output_value %} ]
                                </div>
                            </div>
                        </div>
                        {% /log_data %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Data Viz End --->