/******************* Bootstrap Banners *******************/

.close {
    color: $clrWhite;
    opacity: 1;
}

/******************* Loading Animation  *******************/

/* https://css-tricks.com/quick-css-trick-how-to-center-an-object-exactly-in-the-center/ */
.centered {
  position: fixed;
  top: 45%;
  left: 45%;
  transform: translate(-50%, -50%);
}


body {
  background-color: $clrWhite;
}