// Makes images with the img-circle class into a circle
.img-circle {
    border-radius: 50%;
    margin-top:10px
}

img.resize{
    width:40px; /* you can use % */
    height: auto;
}

html, body, #wrapper {
width:100%;
height:100%;
}

.white-col{
  a {color: #FFFFFF;}
}

#web2py-logo{
    font-size: 150%;
}

.border-c{
  background-color: #fff;
  padding: 2px;
}

.gravimg{
  line-height: 40px;
  vertical-align: middle;
}

// Navbar/theme colors
.navbar{
    /* fallback for old browsers */
    background: $clrPink;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to left, $clrPink, $clrPurple);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to left, $clrPink, $clrPurple);
 }
.footer{
  bottom: 0 !important;
}

// end demo-specific

/* https://css-tricks.com/quick-css-trick-how-to-center-an-object-exactly-in-the-center/ */
.centered {
  position: fixed;
  top: 45%;
  left: 45%;
  transform: translate(-50%, -50%);
}

// Self explanatory
body {
  background-color: $clrWhite;
}

.footer { background: #222222; }

.panel-footer.panel-custom {
    background: #222222;;
    color: #222222;;
}

.container-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}