{{extend 'layout.html'}}


<div id="target"></div>
<script id="template" type="text/ractive">
    <div class="navmenu navmenu-default navmenu-fixed-left navmenu-inverse offcanvas">
        <a class="navmenu-brand" href="#">{{=response.title}}</a>
        <ul class="nav navmenu-nav">
            <li class="active"><a href="./">Home</a></li>
            {% #each device_dict:device_id %}
                <li><a href="#" on-click="set_val:{% device_id %}, {% name %}, {% description %}">{% name %}</a></li>
            {% /each %}
        </ul>
    </div>

    <div class="main">
        <div id="middle_bar" class="col-sm-8 col-md-9 col-lg-9" align="center">
            <div class="centered" align="center">
                {% #if loading %}
                    <h1>{{=icon_loading}}</h1>
                {% else %}
                    {{if len(device_list) == 0:}}
                        <a style="color: #842448;" href="{{=URL('default', 'add')}}">{{=icon_sad_big}}</a><br>
                        <h3><a style="color: #842448;" href="{{=URL('default', 'add')}}">{{=string_no_device}}</a></h3>
                    {{else:}}
                        {% #if selection_value == -1 %}
                           {{=icon_rocket_big}}
                           <h3>{{=string_get_started}}</h3>
                        {% else %}
                           {{=icon_graph_big}}
                           <h3>{% selection_name %} {{=string_no_data}}</h3>
                        {% /if %}
                    {{pass}}
                {% /if %}
            </div>
        </div>

        {% #unless loading %}
            <div id="device_info" class="col-sm-4 col-md-3 col-lg-3" align="center">
                <h2>{% selection_name %} Configuration</h2><br/>
                {% #if selection_value == -1 %}
                    <button type="button" class="btn btn-primary disabled">{{=string_manage}}</button>
                    <button type="button" class="btn btn-warning disabled">{{=string_edit}}</button>
                    <button type="button" class="btn btn-danger disabled"
                        on-click="delete:{% selection_value %}">{{=string_delete}}</button><br><br>
                {% else %}
                    <a href="{{=URL('default', 'manage')}}?device={% selection_value %}" class="btn btn-primary">{{=string_manage}}</a>
                    <a href="{{=URL('default', 'edit_device')}}?device={% selection_value %}" class="btn btn-warning">{{=string_edit}}</a>
                    <button type="button" class="btn btn-danger"
                        on-click="delete:{% selection_value %}">{{=string_delete}}</button><br><br>
                {% /if %}
                <ul class="list-group">
                    {% #if selection_value == -1 %}
                        <li class="list-group-item clearfix">
                            <span class="pull-left">{{=string_no_status}}</span>
                            <span class="pull-right">
                                <span class="label label-pill label-warning">{{=icon_warning}}</span>
                            </span>
                        </li>
                        <li class="list-group-item clearfix">
                            <span class="pull-left">
                                {{=string_device_id + string_undefined}}
                            </span>
                        </li>
                    {% else %}
                        <li class="list-group-item clearfix">
                            <span class="pull-left">Status: OK</span>
                            <span class="pull-right">
                                <span class="label label-pill label-success">{{=icon_check}}</span>
                            </span>
                        </li>
                        <li class="list-group-item clearfix">
                            <span class="pull-left">
                                {{=string_device_id}}{% selection_value %}
                            </span>
                        </li>
                        <li class="list-group-item clearfix">
                            <span class="pull-left">
                                {{=string_desc}}{% selection_desc %}
                            </span>
                        </li>
                    {% /if %}
                </ul>
            </div>
        {% /unless %}
    </div>
</script>

<script>
$(function() {
    // Ractive object
    var ractive = new Ractive({
        el: '#target',
        template: '#template',
        delimiters: ['{%', '%}'],
        tripleDelimiters: ['{%%', '%%}'],
        data: {
            device_dict: {},
            delete_devices: [],
            loading: true,
            sign_uuid: "{{=sign_uuid}}",
            selection_value: -1,
            selection_name: "",
            selection_desc: ""
        }
    });

    // Refreshes device list every time function is called
    function load_devices(){
        $.ajax("{{=URL('default', 'load_devices', user_signature=True, args=sign_uuid)}}",
                {
                    method: 'POST',
                    success: function (data) {
                        ractive.set('device_dict', data['device_dict']);
                        ractive.set('loading', false);
                    }
                }
        );
    }

    // Call load_devices() initially when the page first loads
    load_devices();

    ractive.on("set_val", function(e, value, name, desc){
        ractive.set('selection_value', value);
        ractive.set('selection_name', name);
        ractive.set('selection_desc', desc)
    });

    // Delete logic
    ractive.on("delete", function(e, device_id){
        if(device_id == -1){
            alert("You are trying to delete with no selection.");
            return;
        }
        var delete_devices = ractive.get('delete_devices');
        if(delete_devices.indexOf(device_id) == -1) delete_devices.push(device_id);
        else delete_devices.pop(device_id);
        ractive.set('delete_list', delete_devices);
        $.ajax("{{=URL('default', 'delete_devices', user_signature=True)}}",
                {
                    data: { delete_devices: delete_devices },
                    method: 'POST',
                    success: function() {},
                    error: function() {}
                }
        );
        ractive.set('delete_list', []);
        reloadPage();
    });

    function reloadPage() {
        location.reload();
    }
});
</script>