{{extend 'layout.html'}}

<!-- Bootstrap CSS & JS-->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
      integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>


<!-- Bootstrap select -->
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>


<!-- Date range picker -->
<!-- Include Required Prerequisites -->
<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<!-- Include Date Range Picker -->
<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css"/>

<!-- dygraph library -->
<script src="/server/static/js/dygraph-combined-dev.js"></script>




<div id="target"></div>
<script id="template" type="text/ractive">
    <div class="navmenu navmenu-default navmenu-fixed-left navmenu-inverse offcanvas">
        <a class="navmenu-brand" href="{{=URL('default', 'index')}}">{{=response.title}}</a>
        <ul class="nav navmenu-nav">
            {{if len(device_list) == 0:}}
                <li class="active"><a href="{{=URL('device', 'add')}}">Add device</a></li>
            {{pass}}
            {% #each device_dict:device_id %}
                <li class=""><a href="#" on-click="set_val:{% device_id %}, {% name %}, {% description %}">{% name %}</a></li>
            {% /each %}
        </ul>
    </div>

    <div class="main">
        <div id="middle_bar" class="col-sm-8 col-md-9 col-lg-9">
            <div class="centered" id="mainthing">
                {% #if loading %}
                    <h1>{{=icon_loading}}</h1>
                {% else %}
                    {{if len(device_list) == 0:}}
                        <div align="center" style="color: #842448;">
                            <a href="{{=URL('default', 'add')}}">{{=icon_sad_big}}</a><br>
                            <h3><a href="{{=URL('default', 'add')}}">{{=string_no_device}}</a></h3>
                        </div>
                    {{else:}}
                        {% #if selection_value == -1 %}
                           <div align="center container-text" align="center">
                               {{=icon_rocket_big}}
                               <h3>{{=string_get_started}}</h3>
                           </div>
                        {% else %}
                            <!-- The visualisation team's HTML code...too large/bulky to add directly here -->

                        {% /if %}
                    {{pass}}
                {% /if %}
            </div>
            <div id="mainthing" style="margin-bottom=10px">
                {% #if loading %}

                {% else %}
                    {{if len(device_list) == 0:}}

                    {{else:}}
                        {% #if selection_value == -1 %}

                        {% else %}
                            <!-- The visualisation team's HTML code...too large/bulky to add directly here -->
                            {{include 'viz.html'}}
                        {% /if %}
                    {{pass}}
                {% /if %}
            </div>
        </div>





        <!-- Let's hide this section as well until we have a device list populated -->
        {% #unless loading %}
            <div id="device_info" class="col-sm-4 col-md-3 col-lg-3" align="center">
                {% #unless selection_value == -1 %}
                    <h2>{% selection_name %} Configuration</h2><br/>
                    <a href="{{=URL('default', 'manage')}}?device={% selection_value %}" id="btn-procedure" class="btn btn-primary">{{=string_manage}}</a>
                    <a href="{{=URL('default', 'edit_device')}}?device={% selection_value %}" class="btn btn-warning">{{=string_edit}}</a>
                    <button type="button" id="btn-delete" class="btn btn-danger"
                        on-click="delete:{% selection_value %}">{{=string_delete}}</button><br><br>
                {% /unless %}
                <!-- Status panel for the device, listing name, status, ID , and description -->
                <ul class="list-group">
                    {% #unless selection_value == -1 %}
                        <!-- Display device info if we DO know the device ID -->
                        <li class="list-group-item clearfix">
                            <span class="pull-left">Status: OK</span>
                            <span class="pull-right">
                                <span class="label label-pill label-success">{{=icon_check}}</span>
                            </span>
                        </li>
                        <li class="list-group-item clearfix">
                            <span class="pull-left">
                                {{=string_device_id}}{% selection_value %}
                            </span>
                        </li>
                        <li class="list-group-item clearfix">
                            <span class="pull-left">
                                {{=string_desc}}{% selection_desc %}
                            </span>
                        </li>
                    {% /unless %}
                </ul>
            </div>
        {% /unless %}
    </div>
</script>





<script src='http://cdn.ractivejs.org/latest/ractive.min.js'></script>
<script>
    var ractive = new Ractive({
        el: '#target',
        template: '#template',
        delimiters: ['{%', '%}'],
        data: {
            mixed_data: [],
            output_data: [],
            log_data: []
        }
    });
    // ------------------------------------ START Refresh Button  ------------------------------------
    function refresh() {
        // ----------- get the parameter in the control panel --------------------------
        var time_span = $('#time_span').val();
        var elems = time_span.trim().split("-");
        var start = elems[0].slice(6, 10) + "-" + elems[0].slice(0, 2) + "-" + elems[0].slice(3, 5) + " 00:00:00";
        var end = elems[1].slice(7, 12) + "-" + elems[1].slice(1, 3) + "-" + elems[1].slice(4, 6) + " 23:59:59";
        $.ajax({
            'url': 'get_data',
            'type': 'post',
            'dataType': 'json',
            'data': {start: start, end: end},
            'success': function (data) {
                console.log(data);
                ractive.set({mixed_data: data.mixed_data});
                ractive.set({output_data: data.output_data});
                ractive.set({log_data: data.log_data});
                //  ---------- showing test output dygraph ----------
                dy_plot();
            }
        });
        //  ---------- showing test output dygraph ----------
        dy_plot();
    } // -------- END Refresh Button --------
    // ------------------------------------  Tab  ------------------------------------
    $('#myTabs a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
    });
    // ------------  Date Picker  ------------
    $(function () {
        $('#time_span').daterangepicker();
    });
    // ------------  Dygraph testing  ------------
    function barChartPlotter(e) {
        var ctx = e.drawingContext;
        var points = e.points;
        var y_bottom = e.dygraph.toDomYCoord(0);  // see <a href="http://dygraphs.com/jsdoc/symbols/Dygraph.html#toDomYCoord">jsdoc</a>
        // This should really be based on the minimum gap
        var bar_width = 2 / 3 * (points[1].canvasx - points[0].canvasx);
        ctx.fillStyle = e.color;  // a lighter shade might be more aesthetically pleasing
        // Do the actual plotting.
        for (var i = 0; i < points.length; i++) {
            var p = points[i];
            var center_x = p.canvasx;  // center of the bar
            ctx.fillRect(center_x - bar_width / 2, p.canvasy, bar_width, y_bottom - p.canvasy);
            ctx.strokeRect(center_x - bar_width / 2, p.canvasy, bar_width, y_bottom - p.canvasy);
        }
    }
    dy_plot = function () {
        var graph_com = document.getElementById("dygraph_target1");
        var output_data = ractive.get('output_data'); //"{{=URL('static', 'temper.csv')}}";
        // collecting output data
        if (typeof output_data === "undefined") {
            g = new Dygraph(
                    graph_com,
                    {
                        //rollPeriod: 5,
                        //showRoller: true,
                        title: 'Temperature Line Chart',
                        ylabel: 'Temperature (C)',
                        legend: 'always',
                        showRangeSelector: true,
                        rangeSelectorHeight: 30,
                        rangeSelectorPlotStrokeColor: 'green',
                        rangeSelectorPlotFillColor: 'lightgreen'
                    }
            );
        }
        else if (output_data.length > 0) {
            var data = "Date, Temperature\n";   //[['Date', 'Temperature']];
            var dateRange = [];
            var timeSpan = $('#time_span').val();
            for (var i = 0; i < output_data.length; i++) {
                var output = output_data[i];
                data = data + output.time_stamp + ',' + output.output_value.toString() + '\n';
                if (i == 0 || i == output_data.length - 1)
                    dateRange.push(Date.parse(output.time_stamp));
                //data.push([output.time_stamp, output.output_value]);
            }
            /*if (typeof timeSpan !== "undefined") {
                var time2 = timeSpan.split("-");
                dateRange = [Date.parse(time2[0]), Date.parse(time2[1])];
            }*/
            g2 = new Dygraph(
                    graph_com,
                    data,
                    {
                        //labels: ['Date', 'Temperature'],
                        //plotter: barChartPlotter,
                        title: 'Temperature Line Chart',
                        ylabel: 'Temperature (C)',
                        legend: 'always',
                        dateWindow: dateRange,
                        showRangeSelector: true,
                        rangeSelectorHeight: 30,
                        rangeSelectorPlotStrokeColor: 'green',
                        rangeSelectorPlotFillColor: 'lightgreen'
                        //xTicker: Dygraph.dateTicker
                    }
            );
        }
    };
    dy_plot();
</script>