{{extend 'layout.html'}}

<div id="target"></div>
<script id="template" type="text/ractive">
    <div class="navmenu navmenu-default navmenu-fixed-left navmenu-inverse offcanvas">
        <a class="navmenu-brand" href="#">{{=response.title}}</a>
        <ul class="nav navmenu-nav">
            {{if len(device_list) == 0:}}
                <li class="active"><a href="{{=URL('device', 'add')}}">Add device</a></li>
            {{pass}}
            {% #each device_dict:device_id %}
                <li class=""><a href="#" on-click="set_val:{% device_id %}, {% name %}, {% description %}">{% name %}</a></li>
            {% /each %}
        </ul>
    </div>

    <div class="main">
        <div id="middle_bar" class="col-sm-8 col-md-9 col-lg-9" align="center">
            <div class="centered" align="center">
                {% #if loading %}
                    <h1>{{=icon_loading}}</h1>
                {% else %}
                    {{if len(device_list) == 0:}}
                        <a style="color: #842448;" href="{{=URL('default', 'add')}}">{{=icon_sad_big}}</a><br>
                        <h3><a style="color: #842448;" href="{{=URL('default', 'add')}}">{{=string_no_device}}</a></h3>
                    {{else:}}
                        {% #if selection_value == -1 %}
                           {{=icon_rocket_big}}
                           <h3>{{=string_get_started}}</h3>
                        {% else %}
                            <!-- Data Viz Begin -->
                            <div class="panel panel-default" name="dataVisualization">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Data Visualization Panel</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <!-- CONTROL PANEL -->
                                        <div class="col-sm-3">
                                            <table>
                                                <tr>
                                                    <td>
                                                        <label>Select:</label> <br>
                                                        <select id="select_device" class="selectpicker" data-live-search="true"
                                                                title="Choose Device...">
                                                            <option>Android</option>
                                                            <option>iPhone</option>
                                                            <option>iPad</option>
                                                            <option>Nest</option>
                                                        </select>
                                                        <br>
                                                        <select id="select_data_module" class="selectpicker" data-live-search="true"
                                                                title="Choose Data Module...">
                                                            <option value="temperature">temperature</option>
                                                            <option value="pressure">pressure</option>
                                                        </select>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label>Compare:</label> <br>
                                                        <select class="selectpicker" data-live-search="true" multiple data-max-options="3">
                                                            <optgroup label="Picnic">
                                                                <option>Mustard</option>
                                                                <option>Ketchup</option>
                                                                <option>Relish</option>
                                                            </optgroup>
                                                            <optgroup label="Camping">
                                                                <option>Tent</option>
                                                                <option>Flashlight</option>
                                                                <option>Toilet Paper</option>
                                                            </optgroup>
                                                        </select>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label>Time Span:</label>
                                                        <div>
                                                            <input id="time_span" type="text" class="form-control" name="time_span"
                                                                   value="04/01/2016 - 04/10/2016"/>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <br><br>
                                                        <button id="refreshButton" onclick="refresh()" type="button"
                                                                class="btn btn-info btn-block">Refresh
                                                        </button>
                                                        <!-- Spinner icon -->
                                                        <div id="result-spinner" class="hidden">
                                                            <i class="fa fa-spinner fa-pulse fa-4x"></i>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>

                                        <!--  DATA VISUALIZATION dyGraph  -->

                                        <div class="col-sm-9">
                                            <div id="chartdiv" style="width: 100%; height: 400px;" class="hidden"></div>
                                            <div id="graph_div" style="width: 100%; height: 400px"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- DATA DETAIL START  -->

                            <div class="panel panel-default" name="dataDetail" ng-controller="dataDetailController">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Data Detail Panel</h3>
                                </div>
                                <div class="panel-body">
                                    <!-- Tab -->
                                    <div>
                                        <!-- ------- Data Detail  Nav tabs  ------- -->
                                        <ul class="nav nav-tabs" role="tablist">
                                            <li role="presentation" class="active">
                                                <a href="#Mixed" aria-controls="Mixed" role="tab" data-toggle="tab">Mixed</a>
                                            </li>
                                            <li role="presentation">
                                                <a href="#Output" aria-controls="Output" role="tab" data-toggle="tab">Output</a>
                                            </li>
                                            <li role="presentation">
                                                <a href="#Log" aria-controls="Log" role="tab" data-toggle="tab">Log</a>
                                            </li>
                                        </ul>
                                        <!-- Tab panes  -->
                                        <div class="tab-content">
                                            <!-- ------------------ Mixed Tab ------------------ -->
                                            <div role="tabpanel" class="tab-pane active" id="Mixed">
                                                <form class="navbar-form navbar-right" role="search">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" placeholder="Search for...">
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-default" type="button">Search</button>
                                                        </span>
                                                    </div>
                                                </form>
                                                <table class="table table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>Type</th>
                                                            <th>Device ID</th>
                                                            <th>Module Name</th>
                                                            <th>Content</th>
                                                            <th>Timestamp</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="mixed_table_body">
                                                        {% #mixed_data:index %}
                                                        <tr>
                                                            <th scope="row">{% index+1 %}</th>
                                                            <td>{% type %}</td>
                                                            <td>{% device_id %}</td>
                                                            <td>{% modulename %}</td>
                                                            <td>{% content %}</td>
                                                            <td>{% time_stamp %}</td>
                                                        </tr>
                                                        {% /mixed_data %}
                                                    </tbody>
                                                </table>
                                            </div>

                                            <!-- ------------------ Output Tab ------------------ -->
                                            <div role="tabpanel" class="tab-pane" id="Output">
                                                <form class="navbar-form navbar-right" role="search">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" placeholder="Search for...">
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-default" type="button">Search</button>
                                                        </span>
                                                    </div>
                                                </form>
                                                <table class="table table-hover">
                                                    <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Device ID</th>
                                                        <th>Module Name</th>
                                                        <th>Name</th>
                                                        <th>Output Value</th>
                                                        <th>Tag</th>
                                                        <th>Time Stamp</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody id="output_table_body">
                                                        {% #output_data:index %}
                                                        <tr>
                                                            <th scope="row">{% index+1 %}</th>
                                                            <td>{% device_id %}</td>
                                                            <td>{% modulename %}</td>
                                                            <td>{% name %}</td>
                                                            <td>{% output_value %}</td>
                                                            <td>{% tag %}</td>
                                                            <td>{% time_stamp %}</td>
                                                        </tr>
                                                        {% /output_data %}
                                                    </tbody>
                                                </table>
                                            </div>

                                            <!-- ------------------ Log Tab ------------------ -->
                                            <div role="tabpanel" class="tab-pane" id="Log">
                                                <form class="navbar-form navbar-right" role="search">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" placeholder="Search for...">
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-default" type="button">Search</button>
                                                        </span>
                                                    </div>
                                                </form><br><br><br>
                                                <div class="panel-group" id="log_accordion" role="tablist" aria-multiselectable="true">
                                                    {% #log_data:index %}
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading" role="tab" id="heading{% index %}">
                                                            <h4 class="panel-title">
                                                                <a role="button" data-toggle="collapse" data-parent="#accordion"
                                                                   href="#collapse{% index %}"
                                                                   aria-expanded="true" aria-controls="collapse{% index %}">
                                                                     {% device_id %} : [ {% time_stamp %}] - [ level : {% log_level %} ]
                                                                </a>
                                                            </h4>
                                                        </div>
                                                        <div id="collapse{% index %}" class="panel-collapse collapse" role="tabpanel"
                                                             aria-labelledby="headingOne">
                                                            <div class="panel-body">
                                                                [{% modulename %}] - [{% name %} : {% output_value %} ]
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {% /log_data %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Data Viz End --->
                        {% /if %}
                    {{pass}}
                {% /if %}
            </div>
        </div>

        {% #unless loading %}
            <div id="device_info" class="col-sm-4 col-md-3 col-lg-3" align="center">
                <h2>{% selection_name %} Configuration</h2><br/>
                {% #if selection_value == -1 %}
                    <button type="button" class="btn btn-primary disabled">{{=string_manage}}</button>
                    <button type="button" class="btn btn-warning disabled">{{=string_edit}}</button>
                    <button type="button" class="btn btn-danger disabled"
                        on-click="delete:{% selection_value %}">{{=string_delete}}</button><br><br>
                {% else %}
                    <a href="{{=URL('default', 'manage')}}?device={% selection_value %}" class="btn btn-primary">{{=string_manage}}</a>
                    <a href="{{=URL('default', 'edit_device')}}?device={% selection_value %}" class="btn btn-warning">{{=string_edit}}</a>
                    <button type="button" class="btn btn-danger"
                        on-click="delete:{% selection_value %}">{{=string_delete}}</button><br><br>
                {% /if %}
                <ul class="list-group">
                    {% #if selection_value == -1 %}
                        <li class="list-group-item clearfix">
                            <span class="pull-left">{{=string_no_status}}</span>
                            <span class="pull-right">
                                <span class="label label-pill label-warning">{{=icon_warning}}</span>
                            </span>
                        </li>
                        <li class="list-group-item clearfix">
                            <span class="pull-left">
                                {{=string_device_id + string_undefined}}
                            </span>
                        </li>
                    {% else %}
                        <li class="list-group-item clearfix">
                            <span class="pull-left">Status: OK</span>
                            <span class="pull-right">
                                <span class="label label-pill label-success">{{=icon_check}}</span>
                            </span>
                        </li>
                        <li class="list-group-item clearfix">
                            <span class="pull-left">
                                {{=string_device_id}}{% selection_value %}
                            </span>
                        </li>
                        <li class="list-group-item clearfix">
                            <span class="pull-left">
                                {{=string_desc}}{% selection_desc %}
                            </span>
                        </li>
                    {% /if %}
                </ul>
            </div>
        {% /unless %}
    </div>
</script>

<script>
    var rac = $(function() {
        // Ractive object
        var ractive = new Ractive({
            el: '#target',
            template: '#template',
            delimiters: ['{%', '%}'],
            tripleDelimiters: ['{%%', '%%}'],
            data: {
                device_dict: {},
                delete_devices: [],
                loading: true,
                sign_uuid: "{{=sign_uuid}}",
                selection_value: -1,
                selection_name: "",
                selection_desc: "",
                mixed_data: [],
                output_data: [],
                log_data: [],
                text_output: []
            }
        });

        // Refreshes device list every time function is called
        function load_devices(){
            $.ajax("{{=URL('default', 'load_devices', user_signature=True, args=sign_uuid)}}",
                    {
                        method: 'POST',
                        success: function (data) {
                            ractive.set('device_dict', data['device_dict']);
                            ractive.set('loading', false);
                            console.log(data['device_dict']);
                        }
                    }
            );
        }

        // Call load_devices() initially when the page first loads
        load_devices();

        ractive.on("set_val", function(e, value, name, desc){
            ractive.set('selection_value', value);
            ractive.set('selection_name', name);
            ractive.set('selection_desc', desc);
            $(document).ready(function () {
                $('.nav li a').click(function(e) {
                    $('.nav li').removeClass('active');
                    var $parent = $(this).parent();
                    if(!$parent.hasClass('active')) $parent.addClass('active');
                    e.preventDefault();
                });
            });
        });

        // Delete logic
        ractive.on("delete", function(e, device_id){
            if(device_id == -1){
                alert("You are trying to delete with no selection.");
                return;
            }
            var delete_devices = ractive.get('delete_devices');
            if(delete_devices.indexOf(device_id) == -1) delete_devices.push(device_id);
            else delete_devices.pop(device_id);
            ractive.set('delete_list', delete_devices);
            $.ajax("{{=URL('default', 'delete_devices', user_signature=True)}}",
                    {
                        data: { delete_devices: delete_devices },
                        method: 'POST',
                        success: function() {},
                        error: function() {}
                    }
            );
            ractive.set('delete_list', []);
            location.reload();
        });

        $('#myTabs a').click(function (e) {
            e.preventDefault();
            $(this).tab('show')
        });

        $(function () {
            $('#time_span').daterangepicker();
        });

        function barChartPlotter(e) {
            var ctx = e.drawingContext;
            var points = e.points;
            // see <a href="http://dygraphs.com/jsdoc/symbols/Dygraph.html#toDomYCoord">jsdoc</a>
            var y_bottom = e.dygraph.toDomYCoord(0);
            // This should really be based on the minimum gap
            var bar_width = 2 / 3 * (points[1].canvasx - points[0].canvasx);
            ctx.fillStyle = e.color;  // a lighter shade might be more aesthetically pleasing
            // Do the actual plotting.
            for (var i = 0; i < points.length; i++) {
                var p = points[i];
                var center_x = p.canvasx;  // center of the bar
                ctx.fillRect(center_x - bar_width / 2, p.canvasy, bar_width, y_bottom - p.canvasy);
                ctx.strokeRect(center_x - bar_width / 2, p.canvasy, bar_width, y_bottom - p.canvasy);
            }
        }

        dy_plot();
    });

    function refresh() {
        var timeSpan = $('#time_span').val();
        // showing test output dygraph
        dy_plot();
        // get the parameter in the control panel
        var start = "2016-05-03 21:20:20";
        var end = "2016-05-03 23:20:20";
        $.ajax({
            'url': 'get_data',
            'type': 'post',
            'dataType': 'json',
            'data': {start: start, end: end},
            // 'data':"start=" + start,
            'success': function (data) {
                rac.ractive.set({mixed_data: data['mixed_data']});
                rac.ractive.set({output_data: data['output_data']});
                rac.ractive.set({log_data: data['log_data']});
            }
        });
    }

    var dy_plot = function () {
        var data = "{{=URL('static', 'temper.csv')}}";
        // collecting output data
        if (typeof output_data === "undefined") {
            console.log('output_data is not defined yet, using backup data!');
            var graph_com = document.getElementById('graph_div');
            window.onload = function() {
                graph_com = document.getElementById('graph_div');
            };
            console.log("test" + graph_com);
            g = new Dygraph(
                graph_com,
                data,
                {
                    //rollPeriod: 5,
                    //showRoller: true,
                    title: 'Temperature Line Chart',
                    ylabel: 'Temperature (C)',
                    legend: 'always',
                    showRangeSelector: true,
                    rangeSelectorHeight: 30,
                    rangeSelectorPlotStrokeColor: 'green',
                    rangeSelectorPlotFillColor: 'lightgreen'
                }
            );
        }
        else if (output_data.length > 0) {
            var data = "Date, Temperature\n";   //[['Date', 'Temperature']];
            var dateRange = [];
            var timeSpan = $('#time_span').val();
            for (var i = 0; i < output_data.length; i++){
                var output = output_data[i];
                data = data + output.time_stamp + ',' + output.output_value.toString() + '\n'
                if ( i == 0 || i == output_data.length-1)
                    dateRange.push(output.time_stamp);
                //data.push([output.time_stamp, output.output_value]);
            }
            if (typeof timeSpan !== "undefined"){
                var time2 = timeSpan.split("-");
                dateRange = [ Date.parse(time2[0]), Date.parse(time2[1])];
            }
            var g2 = new Dygraph(
                graph_com,
                data,
                {
                    //labels: ['Date', 'Temperature'],
                    plotter: barChartPlotter,
                    title: 'Temperature Bar Chart',
                    ylabel: 'Temperature (C)',
                    legend: 'always',
                    dateWindow: dateRange,
                    showRangeSelector: true,
                    rangeSelectorHeight: 30,
                    rangeSelectorPlotStrokeColor: 'green',
                    rangeSelectorPlotFillColor: 'lightgreen'
                    //xTicker: Dygraph.dateTicker
                }
            );
        }
    };
</script>