{{extend 'layout.html'}}

<!-- If user not authenticated, kindly ask them to sign up or sign in -->
<div id="main_login" align="center">
    <div class="jumbotron">
        <h1>Welcome!</h1>
        <p>Get started with SlugIOT and start managing all of your appliances over the cloud.</p>
        <p>
            {{=A('Sign Up', _class='btn btn-warning btn-lg', _role="button", _href=URL('default', 'user', args=['register']))}}
            {{=A('Sign In', _class='btn btn-success btn-lg', _role="button", _href=URL('default', 'user', args=['login']))}}
        </p>
    </div>
</div>