<!-- Modal -->
<div class="modal fade" id="myModalNorm2" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close"
                   data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
                {{foo5 = modalprocedure().get("form3")}}
                <h4 class="modal-title" id="myModalLabel">Add New Procedure</h4>
            </div>

            {{=foo5.custom.begin}}
            <!-- Modal Body -->
            <div class="modal-body">
              <div class="form-group">
                <label for="device_name">Name</label>
                  {{=foo5.custom.widget.name}}
              </div>
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                {{=foo5.custom.submit}}
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
            {{=foo5.custom.end}}
        </div>
    </div>
</div>