{{extend 'layout.html'}}


{{block head}}


{{end}}





{{block center}}
<h1>this is the test page</h1>


<div class="panel panel-default" name="dataDetail" ng-controller="dataDetailController">
    <div class="panel-heading">
        <h3 class="panel-title">Data Detail Panel</h3>
    </div>
    <div class="panel-body">
        <!-- Tab -->
        <div>

            <!-- ------- Data Detail  Nav tabs  ------- -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#Mixed" aria-controls="Mixed" role="tab"
                                                          data-toggle="tab">Mixed</a>
                </li>
                <li role="presentation"><a href="#Output" aria-controls="Output" role="tab"
                                           data-toggle="tab">Output</a>
                </li>
                <li role="presentation"><a href="#Log" aria-controls="Log" role="tab"
                                           data-toggle="tab">Log</a></li>
            </ul>

            <!-- ------------------ Tab panes ------------------ -->
            <div class="tab-content">
                <!-- ------------------ Mixed Tab ------------------ -->
                <div role="tabpanel" class="tab-pane active" id="Mixed">
                    <form class="navbar-form navbar-right" role="search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for...">
                          <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Search</button>
                          </span>
                        </div>
                    </form>


                    <div id='ractive_mixed_table_container'></div>
                    <script id='ractive_mixed_table_template' type='text/ractive'>

                        <table class="table table-hover">
                            <thead>

                                <tr>
                                    <th>#</th>
                                    <th>Type</th>
                                    <th>Device ID</th>
                                    <th>Module Name</th>
                                    <th>Content</th>
                                    <th>Timestamp</th>


                                </tr>
                            </thead>
                            <tbody id="mixed_table_body">
                                {% #mixed_data:index %}
                                <tr>
                                    <th scope="row">{% index+1 %}</th>
                                    <td>{% type %}</td>
                                    <td>{% deivce_id %}</td>
                                    <td>{% modulename %}</td>
                                    <td>{% content %}</td>
                                    <td>{% time_stamp %}</td>

                                </tr>
                                {% /mixed_data %}
                            </tbody>
                        </table>


                    </script>
                </div>

                <!-- ------------------ Output Tab ------------------ -->
                <div role="tabpanel" class="tab-pane" id="Output">
                    <form class="navbar-form navbar-right" role="search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for...">
                          <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Search</button>
                          </span>
                        </div>
                    </form>
                    <div id='ractive_output_table_container'></div>
                    <script id='ractive_output_table_template' type='text/ractive'>

                        <table class="table table-hover">
                            <thead>

                            <tr>
                                <th>#</th>
                                <th>Device ID</th>
                                <th>Module Name</th>
                                <th>Name</th>
                                <th>Output Value</th>
                                <th>Tag</th>
                                <th>Time Stamp</th>
                            </tr>
                            </thead>
                            <tbody id="output_table_body">
                                {% #output_data:index %}
                                <tr>
                                    <th scope="row">{% index+1 %}</th>
                                    <td>{% deivce_id %}</td>
                                    <td>{% modulename %}</td>
                                    <td>{% name %}</td>
                                    <td>{% output_value %}</td>
                                    <td>{% tag %}</td>
                                    <td>{% time_stamp %}</td>

                                </tr>
                                {% /output_data %}

                            </tbody>
                        </table>


                    </script>

                </div>

                <!-- ------------------ Log Tab ------------------ -->
                <div role="tabpanel" class="tab-pane" id="Log">

                    <form class="navbar-form navbar-right" role="search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for...">
                          <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Search</button>
                          </span>
                        </div>
                    </form>
                    <br><br><br>

                    <div id='ractive_log_table_container'></div>
                    <script id='ractive_log_table_template' type='text/ractive'>

                        <div class="panel-group" id="log_accordion" role="tablist" aria-multiselectable="true">

                            {% #log_data:index %}
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="heading{% index %}">
                                    <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion"
                                           href="#collapse{% index %}"
                                           aria-expanded="true" aria-controls="collapse{% index %}">
                                             {% device_id %} : [ {% time_stamp %}] - [ level : {% log_level %} ]
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse{% index %}" class="panel-collapse collapse" role="tabpanel"
                                     aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        [{% modulename %}] - [{% name %} : {% output_value %} ]
                                    </div>
                                </div>
                            </div>
                            {% /log_data %}


                        </div>


                    </script>


                </div>
            </div>


        </div>
    </div>


</div>


<button onclick="refresh();"> Refresh</button>

{{end}}

{{block page_js}}
<script src='http://cdn.ractivejs.org/latest/ractive.min.js'></script>
<script>
    mixed_data = [
        {
            'type': 'output',
            'deivce_id': 'home',
            'modulename': 'batman',
            'time_stamp': '2016-04-01',
            'content': 'name: temperature, value: 22, tag: 1'
        },
        {
            'type': 'log',
            'deivce_id': 'office',
            'modulename': 'superman',
            'time_stamp': '2016-04-02',
            'content': 'name: normal log, value: Your system went smoothly'
        },
        {
            'type': 'output',
            'deivce_id': 'office',
            'modulename': 'batman',
            'time_stamp': '2016-04-03',
            'content': 'name: temperature, value: 21, tag: 1'
        },
        {
            'type': 'log',
            'deivce_id': 'scholl',
            'modulename': 'superman',
            'time_stamp': '2016-04-04',
            'content': 'name: normal log, value: administrator logged in'
        }
    ];


    output_data = [
        {
            'deivce_id': 'home',
            'modulename': 'batman',
            'name': 'temperature',
            'output_value': 22,
            'tag': '1',
            'time_stamp': '2016-04-01'
        },
        {
            'deivce_id': 'office',
            'modulename': 'batman',
            'name': 'temperature',
            'output_value': 26,
            'tag': '1',
            'time_stamp': '2016-04-02'
        },
        {
            'deivce_id': 'home',
            'modulename': 'batman',
            'name': 'temperature',
            'output_value': 20,
            'tag': '1',
            'time_stamp': '2016-04-03'
        },
        {
            'deivce_id': 'office',
            'modulename': 'batman',
            'name': 'temperature',
            'output_value': 23,
            'tag': '1',
            'time_stamp': '2016-04-04'
        }];

    log_data = [
        {
            'device_id': 'office',
            'modulename': 'superman',
            'name': 'normal log',
            'output_value': 'Your system went smoothly',
            'time_stamp': '2016-04-01',
            'log_level': '0'
        },
        {
            'device_id': 'home',
            'modulename': 'superman',
            'name': 'normal log',
            'output_value': 'Your system just got modified',
            'time_stamp': '2016-04-02',
            'log_level': '0'
        },
        {
            'device_id': 'office',
            'modulename': 'superman',
            'name': 'critical log',
            'output_value': 'Unauthorized logged in',
            'time_stamp': '2016-04-03',
            'log_level': '4'
        },
        {
            'device_id': 'home',
            'modulename': 'superman',
            'name': 'normal log',
            'output_value': 'guest logged in',
            'time_stamp': '2016-04-04',
            'log_level': '0'
        }
    ];

    var ractive_mixed_table = new Ractive({
        el: '#ractive_mixed_table_container',
        template: '#ractive_mixed_table_template',
        delimiters: ['{%', '%}'],
        data: {
            mixed_data: [],
        }
    });

    var ractive_output_table = new Ractive({
        el: '#ractive_output_table_container',
        template: '#ractive_output_table_template',
        delimiters: ['{%', '%}'],
        data: {
            output_data: output_data
        }
    });

    var ractive_log_table = new Ractive({
        el: '#ractive_log_table_container',
        template: '#ractive_log_table_template',
        delimiters: ['{%', '%}'],
        data: {
            log_data: log_data
        }
    });

    function refresh() {
        ractive_mixed_table.set({mixed_data: mixed_data});
    }
    ;

</script>
{{end page_js}}
