
{{extend 'layout.html'}}

<!-- the editor js and css part used which will be integrated to UI team web page-->
{{cm=URL('static', 'codemirror')}}
{{js_url=URL('static','js')}}
{{css_url=URL('static', 'css')}}
<link rel="stylesheet" href="{{=cm}}/lib/codemirror.css">
<link rel="stylesheet" href="{{='%s/theme/web2py.css' % cm}}">
<script src="{{=cm}}/lib/codemirror.js"></script>
<script src="{{=cm}}/addon/edit/matchbrackets.js"></script>
<script src="{{=cm}}/mode/python/python.js"></script>
<script src="{{=cm}}/addon/hint/show-hint.js"></script>
<script src="{{=cm}}/addon/hint/python-hint.js"></script>
<link rel="stylesheet" href="{{=cm}}/addon/hint/show-hint.css">
<script src="{{=cm}}/addon/search/search.js"></script>
<script src="{{=cm}}/addon/search/searchcursor.js"></script>
<script src="{{=cm}}/addon/dialog/dialog.js"></script>
<script src="{{=cm}}/addon/edit/trailingspace.js"></script>
<link rel="stylesheet" href="{{=cm}}/addon/dialog/dialog.css">
<script src="{{=cm}}/addon/selection/active-line.js"></script>
<script src="{{=cm}}/addon/display/fullscreen.js"></script>
<link rel="stylesheet" href="{{=cm}}/addon/display/fullscreen.css">
<script src="{{=cm}}/addon/fold/foldcode.js"></script>
<script src="{{=cm}}/addon/fold/foldgutter.js"></script>
<script src="{{=cm}}/addon/fold/brace-fold.js"></script>
<script src="{{=cm}}/addon/fold/comment-fold.js"></script>
<script src="{{=cm}}/addon/fold/indent-fold.js"></script>
<script src="{{=cm}}/addon/comment/comment.js"></script>
<link rel="stylesheet" href="{{=cm}}/addon/fold/foldgutter.css">
<script src="{{=cm}}/emmet.min.js"></script>
<script src="{{=js_url}}/ajax_editor.js"></script>
<link rel="stylesheet" href="{{=css_url}}/typeahead.js-bootstrap.css">
<link rel="stylesheet" href="{{=css_url}}/web2py-codemirror.css">

<!-- the editor html part used which can be integrated to UI team web page-->

<div style="width: 100%; height: 100vh;">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <div class="list-group" id="procedures">

                  <button type="button" class="list-group-item">
                      Cras justo <span class="glyphicon glyphicon-edit"></span><span class="glyphicon glyphicon-check"></span>
                  </button>
                  <a type="button" class="list-group-item">Dapibus ac facilisis in</a>
                  <a type="button" class="list-group-item">Morbi leo risus</a>
                  <a type="button" class="list-group-item">Porta ac consectetur ac</a>
                  <a type="button" class="list-group-item">Vestibulum at eros</a>

                </div>
            </div>
            <div class="col-md-10">
                <div id="editor_area" class="row-fluid" style="height: 80%;">
                    <div id="placeholder">
                        <div id="myTabContent" class="tab-content"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="width: 100%; height: 100vh;">
    <div id="editor_area" class="row-fluid" style="height:80%;">
        <div class="span12" id="edit_placeholder" style="height: 100%;">
            <div id="myTabContent" class="tab-content" style="height: 100%;">
            </div>
        </div>
    </div>
    <br>
    <!-- the save button example integrated to UI team web page-->
    <button id = "save_unstable" type="button" class="btn btn-primary" onclick="save_procedure('{{=URL('editor','save_procedure',user_signature=True)}}',{{=procedure_id}}, false)">save temporary</button>
    <button id = "save_stable" type="button" class="btn btn-info" onclick="save_procedure('{{=URL('editor','save_procedure',user_signature=True)}}',{{=procedure_id}}, true)">save stable</button>
    <button id = "delete" type="button" class="btn btn-danger" onclick="delete_procedure('{{=URL('editor','delete_procedure',user_signature=True)}}',{{=procedure_id}}, {{=device_id}})">delete procedure</button>
    <!-- the text area to show the saving state for editor-->
    <div style="margin: 15px 0px 0px 0px;">
        <a class="list-group-item active" id="save_result"><div></div></a>
    </div>
    <br>
</div>

<script>

$(document).ready(function() {
    load_procedure('{{=URL('editor','edit_procedure',user_signature=True)}}', {{=procedure_id}}, {{=stable}}, {{=device_id}});
});

</script>
