/* line 1, ../sass/_sidebar.scss */
.fill {
  height: 100%;
  width: 100%;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
/* line 12, ../sass/_sidebar.scss */
.navbar-fixed-top {
  border: 0;
}

/* line 16, ../sass/_sidebar.scss */
.sidebar {
  padding-top: -10px;
  display: none;
  height: 100%;
  background-color: #f5f5f5;
}

@media (min-width: 768px) {
  /* line 23, ../sass/_sidebar.scss */
  .sidebar {
    position: fixed;
    bottom: 0;
    left: 0;
    top: -20;
    z-index: 1000;
    display: inline-block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
    height: 100%;
  }
}
/* Sidebar navigation */
/* line 40, ../sass/_sidebar.scss */
.nav-sidebar {
  margin-right: -21px;
  /* 20px padding + 1px border */
  margin-left: -20px;
}

/* line 44, ../sass/_sidebar.scss */
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}

/* line 48, ../sass/_sidebar.scss */
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

/* test */
/*
 * Main content
 */
/* line 60, ../sass/_sidebar.scss */
.main {
  padding: 20px;
}

@media (min-width: 768px) {
  /* line 64, ../sass/_sidebar.scss */
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
/* line 69, ../sass/_sidebar.scss */
.main .page-header {
  margin-top: 0;
}

/* line 2, ../sass/_main.scss */
.img-circle {
  border-radius: 50%;
}

/* line 6, ../sass/_main.scss */
img.resize {
  width: 40px;
  /* you can use % */
  height: auto;
}

/* line 11, ../sass/_main.scss */
html, body, #wrapper {
  width: 100%;
  height: 100%;
}

/* line 16, ../sass/_main.scss */
#web2py-logo {
  font-size: 150%;
}

/* line 20, ../sass/_main.scss */
.border-c {
  background-color: #fff;
  padding: 2px;
}

/* line 25, ../sass/_main.scss */
.gravimg {
  line-height: 40px;
  vertical-align: middle;
}

/* line 31, ../sass/_main.scss */
.navbar {
  /* fallback for old browsers */
  background: #C04848;
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to left, #C04848, #480048);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to left, #c04848, #480048);
}

/* https://css-tricks.com/quick-css-trick-how-to-center-an-object-exactly-in-the-center/ */
/* line 41, ../sass/_main.scss */
.centered {
  position: fixed;
  top: 45%;
  left: 45%;
  transform: translate(-50%, -50%);
}

/* line 49, ../sass/_main.scss */
body {
  background-color: #fff;
}

/* line 53, ../sass/_main.scss */
.footer {
  background: #222222;
}

/* line 55, ../sass/_main.scss */
.panel-footer.panel-custom {
  background: #222222;
  color: #222222;
}

/* line 60, ../sass/_main.scss */
.container-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
