/* line 1, ../sass/_sidebar.scss */
.fill {
  height: 100%;
  width: 100%;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
/* line 12, ../sass/_sidebar.scss */
.navbar-fixed-top {
  border: 0;
}

/* line 16, ../sass/_sidebar.scss */
.sidebar {
  display: none;
  height: 100%;
  background-color: #f5f5f5;
}

@media (min-width: 768px) {
  /* line 22, ../sass/_sidebar.scss */
  .sidebar {
    position: fixed;
    bottom: 0;
    left: 0;
    top: -20;
    z-index: 1000;
    display: inline-block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
    height: 100%;
  }
}
/* Sidebar navigation */
/* line 39, ../sass/_sidebar.scss */
.nav-sidebar {
  margin-right: -21px;
  /* 20px padding + 1px border */
  margin-left: -20px;
}

/* line 43, ../sass/_sidebar.scss */
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}

/* line 47, ../sass/_sidebar.scss */
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

/* test */
/*
 * Main content
 */
/* line 59, ../sass/_sidebar.scss */
.main {
  padding: 20px;
}

@media (min-width: 768px) {
  /* line 63, ../sass/_sidebar.scss */
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
/* line 68, ../sass/_sidebar.scss */
.main .page-header {
  margin-top: 0;
}

/******************* Bootstrap Banners *******************/
/* line 3, ../sass/_main.scss */
.close {
  color: #fff;
  opacity: 1;
}

/******************* Loading Animation *******************/
/* https://css-tricks.com/quick-css-trick-how-to-center-an-object-exactly-in-the-center/ */
/* line 11, ../sass/_main.scss */
.centered {
  position: fixed;
  top: 45%;
  left: 45%;
  transform: translate(-50%, -50%);
}

/* line 19, ../sass/_main.scss */
body {
  background-color: #fff;
}

/* line 25, ../sass/_main.scss */
.showbox {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5%;
}

/* line 31, ../sass/_main.scss */
.footer {
  bottom: 0 !important;
}

/* line 37, ../sass/_main.scss */
.loader {
  position: relative;
  margin: 0 auto;
  width: 100px;
}
/* line 41, ../sass/_main.scss */
.loader:before {
  content: '';
  display: block;
  padding-top: 100%;
}

/* line 48, ../sass/_main.scss */
.circular {
  animation: rotate 2s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

/* line 59, ../sass/_main.scss */
.path {
  stroke-dasharray: 1,200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124px;
  }
}
@keyframes color {
  100%, 0% {
    stroke: #d62d20;
  }
  40% {
    stroke: #0057e7;
  }
  66% {
    stroke: #008744;
  }
  80%, 90% {
    stroke: #ffa700;
  }
}
